{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <h2>PHP Version: {{ version }}</h2>
    <h3>ENV: {{ app.environment }}</h3>
    <h3>Container: {{ container }}</h3>
    <h3>DB: {{ db ? '1': '0' }}
{% endblock %}
